
<template>
  <div class="">
    <p class="text-2xl text-center my-14">
      {{ avis.maire }} est <span :class="'avis ' + avis.avis">{{ libelleAvis }}</span> à la loi retraite 2023.
    </p>
    <details v-if="avis.justification" class="my-6">
      <summary>Voir l'avis complet de {{ avis.maire }}&nbsp;:</summary>
      <p v-html="avis.justification">
      </p>
    </details>

    <div class="flex justify-between flex-wrap items-center">
      <a
        class="button"
        target="_blank"
        :href="'https://twitter.com/intent/tweet?text='+ tweetText + '&via=et_ton_maire&url=https%3A%2F%2Fet-ton-maire.fr'"
      >
        Partager sur twitter
      </a>
      <p class="">
        Données datant du {{ avis.dateModification }}
        <template v-if="avis.source">- <a :href="avis.source" target="_blank">Source</a></template>
        - <button class="link" @click="signaler">Signaler une erreur</button>
      </p>
    </div>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';
export default defineComponent({
  props: ['commune', 'avis'],
  data() {
    return {
      avisOptions: {
        favorable: 'favorable',
        defavorable: 'défavorable',
        'sans-avis': 'sans avis',
      }
    };
  },
  computed: {
    libelleAvis() {
      return this.avisOptions[this.avis.avis]
    },
    tweetText() {
      return encodeURI(`À ${this.avis.communeNom}, ${this.avis.maire} est ${this.libelleAvis} à la loi `) + '%23' + encodeURI(`retraites 2023, `) + '%23' + encodeURI(`EtTonMaire il ou elle en pense quoi ?`)
    }
  },
  methods: {
    signaler() {
      let mailto = "mailto:avis+retraites-2023@et-ton-maire.fr"
      mailto +=`?subject=Il y a une erreur sur la page de ${this.avis.communeNom} (Code insee ${this.commune.inseeCode})`
      mailto+= "&body=" + encodeURI(`Bonjour,

il y a une erreur sur la page de la commune de ${this.avis.communeNom} (Code insee ${this.commune.inseeCode}),

l'information présentée est inexacte car...

`)

      window.location = mailto
    }
  }
})
</script>