
<template>
  <div class="sub bg-2 -mx-5 px-5 py-2 my-2">
    <p class="my-2">
      Alors il est temps de lui demander ! Interpelez facilement votre maire&nbsp;:
    </p>
    <div class="flex justify-center items-center">
      <input
        id="avis-mail"
        type="radio"
        name="interpelletation-options"
        class="hidden"
        @click="typeInterpellation='avis-mail'"
      >
      <label for="avis-mail" class="p-4 text-center">
        par <span class="emphase">e-mail</span>
      </label>
      <p>ou</p>
      <input
        id="avis-twitter"
        type="radio"
        name="interpelletation-options"
        @click="typeInterpellation='avis-twitter'"
        class="hidden"
      >
      <label for="avis-twitter" class="p-4 text-center">
        via <span class="emphase">Twitter</span>
      </label>
    </div>
  </div>
  <div v-if="typeInterpellation=='avis-mail'" class="sub bg-2 -mx-5 px-5 py-2 my-2">
    <p>
      Comment ça marche ?
    </p>
    <ol class="my-4">
      <li>
        Envoyez un e-mail à votre maire pour lui demander de se positionner sur la réforme,<br/>
        <small>(Pour vous faciliter la tâche, nous vous proposons un modèle d'e-mail et nous avons déjà collecté" les e-mails des mairies)</small>
      </li>
      <li>
        Une fois la réponse reçue, transfèrez-là nous à l'adresse
        <a class="no-underline bg-slate-100 p-1" href="mailto:avis+retraites-2023@et-ton-maire.fr">avis+retraites-2023@et-ton-maire.fr</a>,
      </li>
      <li>
        On traite ensuite votre e-mail pour intégrer les infos qu'il contient à notre base,
      </li>
    </ol>
    <div class="flex flex-col items-center justify-center">
      <div class="autoheight-textarea min-w-full " :data-replicated-value="mailBody">
        <textarea v-model="mailBody" class="p-2">
        </textarea>
      </div>
      <button
        class="button my-4 mx-auto"
        @click="mailto"
      >
        Envoyer l'e-mail à votre mairie
      </button>
    </div>
  </div>
  <div v-if="typeInterpellation=='avis-twitter'" class="sub bg-2 -mx-5 px-5 py-2 my-2">
    <p>
      Comment ça marche ?
    </p>
    <ol class="my-4">
      <li>
        Interpelez votre maire sur twitter en utilisant le modèle fourni,<br/>
      </li>
      <li>
        Une fois la réponse reçue, transfèrez-là nous à l'adresse
        <a class="no-underline bg-slate-100 p-1" href="mailto:avis+retraites-2023@et-ton-maire.fr">avis+retraites-2023@et-ton-maire.fr</a>,
      </li>
      <li>
        On traite ensuite votre e-mail pour intégrer les infos qu'il contient à notre base,
      </li>
    </ol>
    <label for="maire-url" class="pr-4">Quel est le compte Twitter de votre maire&nbsp;?</label>
    <input v-model="maireTwitter" type="text" id="maire-twitter"  placeholder="@..." />
      <button
        class="button my-4 mx-auto"
        @click="tweetto"
      >
        Génerer le tweet
      </button>
  </div>
</template>

<style scoped lang="scss">
  @import "../assets/css/variables";

  ol {
    // list-style-type: decimal;
    padding-left: 4rem;
    counter-reset: counter;
    li {
      counter-increment: counter;
      padding: 0.3rem 0;
      &::before {
        content: counter(counter);
        border: solid 2px $color-primary;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 1.5rem;
        text-align: center;
        margin-right: 0.5rem;
        color: $color-primary;
      }
    }
  }
  .autoheight-textarea {
    display: grid;
    &:after {
      content: attr(data-replicated-value) " \n";
      white-space: pre-wrap;
      visibility: hidden;
      padding-bottom: 1rem;
    }
    textarea {
      resize: none;
      overflow: hidden;

    }
    &:after, textarea {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
</style>

<script>
import { defineComponent } from '@vue/composition-api';
export default defineComponent({
  props: ['commune'],
  data() {
    return {
      typeInterpellation: null,
      maireTwitter: null,
      mailBody: `Bonjour,

Dans le cadre de la campagne du site et-ton-maire.fr et en tant qu'habitant·e de ${this.commune.nom}, je souhaiterais connaître l'avis de la municipalité sur la future réforme des retraites.

Que pense notre maire de ce projet de loi ? Plutôt favorable ou défavorable ?

Merci d'avance pour votre réponse,
Bonne journée,`,
    }
  },
  methods: {
    mailto() {
      let mailto = "mailto:" + this.commune.contact
      mailto += "?subject=Quel est l'avis de notre maire sur le projet de loi retraites 2023 ?"
      mailto+= "&body=" + encodeURI(this.mailBody)

      window.location = mailto
    },
    tweetto() {
      let tweetto = 'https://twitter.com/intent/tweet?text=';
      tweetto += encodeURI(`@${this.maireTwitter.replace('@', '')} j'aimerais connaître votre avis sur la loi `)
      tweetto += '%23'
      tweetto += encodeURI(`retraites 2023 ? Êtes-vous plutôt favorable ou défavorable ?`)
      tweetto += '&via=et_ton_maire&url=https%3A%2F%2Fet-ton-maire.fr&hashtags=EtTonMaire'

      window.open(tweetto, '_blank')
    },
  },
})
</script>