<template>
  <div v-if="isLoading" class="fixed inset-1/2 flex justify-center items-center opacity-50 text-2xl w-10 h-10 bg-white"><Spinner ></Spinner></div>
  <div class="flex flex-col justify-center">
    <div class="flex">
      <svg id="carte-departement" :viewBox="'0 0 ' + width + ' ' + height">
        <path v-for="data, index in feature.features" :key="index"
          :d="pathGenerator(data)"
          :data-insee="data.properties.insee"
          :data-nom="data.properties.commune"
          :class="'commune avis ' + findAvis(data.properties.insee)"
          @click="e => updateTooltip(e, data.properties.commune, data.properties.insee)"
        >
        </path>
      </svg>
      <Tooltip v-model="tooltipVisible" :target="tooltipTarget">
        <RouterLink class="commune-nom -mt-2" :to="'/commune/' + tooltipInseeCode" >{{ tooltipCommune }}</RouterLink>
        <p v-if="tooltipAvis" class="leading-tight text-sm mt-2">
          {{ tooltipAvis.maire }} est {{ libelleAvis(tooltipAvis.avis) }}
        </p>
        <div v-else >
          <p class="italic text-sm leading-tight mt-2">pas de donnée disponible</p>
          <p class="text-sm leading-tight mt-2 help"><RouterLink :to="'/commune/' + tooltipInseeCode">Aidez-nous à en trouver !</RouterLink></p>
        </div>
      </Tooltip>
    </div>
  </div>
</template>

<style scoped lang="scss">
  @import "../assets/css/variables";

  svg {
    overflow: visible;
    width: 100%;

  }
  .commune {
    cursor: pointer;
    fill: transparent;
    stroke: $color-primary;
    stroke-width: 1px;
  }
  .commune-nom {
    font-style: italic;
    color: $color-primary;
  }
  .help > a {
    text-decoration-color: $color-primary-2;
  }
</style>
<script lang="js">
import { defineComponent } from '@vue/composition-api';
import * as topojson from "topojson-client";
import { geoPath, geoMercator, geoBounds } from 'd3-geo';

export default defineComponent({
  props: ['departement'],
  data() {
    return {
      isLoading: true,
      feature: {},
      height: 500,
      width: 600,
      pathGenerator: () => {},
      avisList: [],
      tooltipTarget: null,
      tooltipVisible: false,
      tooltipCommune: '',
      tooltipInseeCode: '00000',
      tooltipAvis: null,
      avisOptions: {
        favorable: 'favorable',
        defavorable: 'défavorable',
        'sans-avis': 'sans avis',
      },
    };
  },
  async mounted() {
    fetch(this.geojsonFilename)
    .then(result => result.json())
    .then(topojsonData => {
      const projection = geoMercator().scale(1).translate([0,0])
      this.feature = topojson.feature(topojsonData, topojsonData.objects.gj);

      this.pathGenerator = geoPath().projection(projection);

      // scaling
      let b = this.pathGenerator.bounds(this.feature)
      const s = 0.9 / Math.max(
        (b[1][0] - b[0][0]) / this.width,
        (b[1][1] - b[0][1]) / this.height
      );

      // translation
      b = geoBounds(this.feature);
      projection
        .scale(s)
        .center([(b[1][0]+b[0][0])/2, (b[1][1]+b[0][1])/2])
        .translate([this.width/2, this.height/2])
      ;
    })
    .then(async () => {
      this.avisList = await this.$lckClient.query(
        'retraites',
        {
          '$limit': -1,
          '$or[0][data][a445373e-5e13-42e4-a014-b9aac7b888e5.value][$eq]': this.departement.id
        }
      );
      this.isLoading = false
    })
  },
  computed: {
    geojsonFilename() {
      const depId = ('000' + this.departement.id).slice(-3).toUpperCase()

      return `/departements/DE_${depId}.json`
    },
  },
  methods: {
    findAvis(inseeCode) {
      const found = this.avisList.filter(element => element.communeInseeCode == inseeCode) ?? null

      if(found.length) {
        return found[0].avis
      } else {
        return ''
      }
    },
    updateTooltip(event, commune, inseeCode) {
      this.tooltipCommune = commune;
      this.tooltipInseeCode = inseeCode;

      const found = this.avisList.filter(element => element.communeInseeCode == inseeCode) ?? null;
      if(found.length) {
        const avis = found[0]
        this.tooltipAvis = avis
      } else {
        this.tooltipAvis = null
      }

      this.tooltipTarget = event.target;
      this.tooltipVisible = true;
    },
    libelleAvis(avis) {
      return this.avisOptions[avis]
    },
  },
})
</script>
