
<template>
  <NuxtLink to="/" class="h-fit">
    <svg
      class="max-h-full w-72 p-4"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
      viewBox="0 0 274.54074 252.59834"
    >
      <g
        id="g12824"
        transform="matrix(3.7795276,0,0,3.7795276,-145.80645,-227.68695)">
        <rect
          style="fill:#c3f0ca;fill-opacity:1;stroke:#ff8ba7;stroke-width:2.31739;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke;stop-color:#000000"
          id="rect38744"
          width="71.424316"
          height="51.810452"
          x="40.322342"
          y="80.854111"
          transform="matrix(0.98504506,-0.17229692,0,1,0,0)" />
        <text
          xml:space="preserve"
          style="font-style:normal;font-weight:normal;font-size:10.5833px;line-height:0.85;font-family:sans-serif;letter-spacing:-0.264583px;fill:#ff8ba7;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
          x="74.363136"
          y="103.68589"
          id="text1222"
          class="shadowed"
          transform="skewY(-11.160236)"><tspan
            sodipodi:role="line"
            id="tspan1220"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:17.6389px;font-family:Binjay;-inkscape-font-specification:'Binjay, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;fill:#ff8ba7;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
            x="74.363136"
            y="103.68589">Et ton </tspan><tspan
            sodipodi:role="line"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:17.6389px;font-family:Binjay;-inkscape-font-specification:'Binjay, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;fill:#ff8ba7;fill-opacity:1;stroke:none;stroke-width:0.264583;stroke-opacity:1"
            x="74.230843"
            y="119.37688"
            id="tspan9704">maire ?!</tspan></text>
        <text
          xml:space="preserve"
          style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.23333px;line-height:1.25;font-family:'Ubuntu Mono';-inkscape-font-specification:'Ubuntu Mono, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ff8ba7;fill-opacity:0.99;stroke:none;stroke-width:0.264583"
          x="47.456059"
          y="126.18346"
          id="text9898"
          transform="skewY(-10)"><tspan
            sodipodi:role="line"
            style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.23333px;font-family:'Ubuntu Mono';-inkscape-font-specification:'Ubuntu Mono, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#ff8ba7;fill-opacity:0.99;stroke-width:0.264583"
            x="47.456059"
            y="126.18346"
            id="tspan26818">Il en pense quoi au fait ?</tspan></text>
      </g>
    </svg>
  </NuxtLink>
</template>

<style scoped lang="scss">
@import "../assets/css/variables";

.shadowed {
  filter: drop-shadow(1px 1px 0px $color-primary-2)
}
a {
  text-decoration: none;
}
</style>