<template>
  <span class="sr-only">Chargement</span>
  <span class="spinner"></span>
</template>
<style scoped lang="scss">
span.spinner {
  &:after {
    animation: spin 1s linear infinite;
    display: inline;
    content: " ";
    width: 1rem;
    height: 1rem;
    position: relative;
  }

  @keyframes spin {
    0% {
      content: '⠲';
    }
    33% {
      content: '⠴';
    }
    66% {
      content: '⠦';
    }
    100% {
      content: '⠖';
    }
  }
}
</style>