<template>
  <div class="flex flex-col justify-start">
    <div class="mb-4">
      <h3>Quelques statistiques</h3>
      <div class="px-4">
        <div class="jauge">
          <div :style="{width: jaugeWidth + 'rem'}"></div>
        </div>
        <p>
          Nous avons récolté les avis de
          <template v-if="nbAvis != 0">{{ nbAvis }}</template>
          <Spinner v-else></Spinner>
          / {{ nbCommunes }} maires.
        </p>
        <ul>
          <li>
            <NuxtLink to="/favorable">
              <template v-if="nbAvisFavorable != '-'">{{ nbAvisFavorable }}</template>
              <Spinner v-else></Spinner>
              sont favorables
            </NuxtLink>
          </li>
          <li>
            <NuxtLink to="/defavorable">
              <template v-if="nbAvisDefavorable != '-'">{{ nbAvisDefavorable }}</template>
              <Spinner v-else></Spinner>
              sont défavorables
            </NuxtLink>
          </li>
          <li>
            <NuxtLink to="/sans-avis">
              <template v-if="nbAvisSansAvis != '-'">{{ nbAvisSansAvis }}</template>
              <Spinner v-else></Spinner>
              sont sans avis
            </NuxtLink>
          </li>
        </ul>
      </div>
    </div>
    <div class="mb-4">
      <h3>Les derniers avis</h3>
      <div class="px-4">
        <ul>
          <li v-for="(avis, index) in lastAvis" :key="index">
            <NuxtLink :to="'/commune/' + avis.communeInseeCode">{{ avis.communeNom }}, {{ avis.maire }} : {{ libelleAvis(avis) }}</NuxtLink>
          </li>
          <li v-if="lastAvis.length == 0">
            <Spinner></Spinner>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  @import "../assets/css/variables";

  .jauge {
    margin-top: 1rem;
    height: 2rem;
    width:20rem;
    border: solid 2px $color-primary;

    > div {
      height: 100%;
      min-width: 0.2rem;
      background: $color-primary-2;
    }
  }

  li a {
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline 0.6rem $color-secondary;
      text-underline-offset: -0.3rem;
      text-decoration-skip-ink: none;
    }
  }
</style>
<script lang="js">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  data() {
    return {
      lastAvis: [],
      nbAvis: 0,
      nbAvisFavorable: '-',
      nbAvisDefavorable: '-',
      nbAvisSansAvis: '-',
      nbCommunes: 34968,
      avisOptions: {
        favorable: 'favorable',
        defavorable: 'défavorable',
        'sans-avis': 'sans avis',
      },
    };
  },
  async mounted() {
    const lastAvis = await this.$lckClient.query(
      'retraites',
      {
        '$limit': 5,
        '$sort[ref(data:d69a598d-88bb-40d6-92e4-4e5b05f41dde)]': -1,
      }
    );

    if (lastAvis.length) {
      this.lastAvis = lastAvis;
    }

    this.nbAvis = await this.$lckClient.count('retraites');

    this.nbAvisFavorable = await this.$lckClient.count(
      'retraites',
      {'$or[0][data][16bc6a9e-d9db-41c7-a61a-d27bd8bf95d5][$in][0]': 'f03a3376-199b-4c92-8b6e-8c3ee8e1dffc'}
    );
    this.nbAvisDefavorable = await this.$lckClient.count(
      'retraites',
      {'$or[0][data][16bc6a9e-d9db-41c7-a61a-d27bd8bf95d5][$in][0]': '1364d62b-ad3a-4c65-a609-9bb27482a039'}
    );
    this.nbAvisSansAvis = await this.$lckClient.count(
      'retraites',
      {'$or[0][data][16bc6a9e-d9db-41c7-a61a-d27bd8bf95d5][$in][0]': '33cc76d7-b470-40a5-9c4e-e3d6921f68c5'}
    );
  },
  methods: {
    libelleAvis(avis) {
      return this.avisOptions[avis.avis]
    }
  },
  computed: {
    jaugeWidth() {
      return this.nbAvis / this.nbCommunes * 20;
    },
  },
})
</script>
