<template>
    <div
      :class="(modelValue ? onVisibleClass : 'hidden') + ' tooltip bottom-auto left-0 md:max-w-[10em] md:min-w-[7em] flex flex-col p-3 pt-6'"
      :style="modelValue ? onVisibleStyle : {}"
    >
      <button class="absolute top-0 right-2" title="Fermet l'infobulle" @click="$emit('update:modelValue', false)">x</button>
      <slot></slot>
  </div>
</template>

<style scoped lang="scss">
  @import "../assets/css/variables";
  .tooltip {
    border: solid 2px $color-primary;
    background: $color-secondary;

    button {
      color: $color-primary;
      font-weight: bold;
    }
    @media screen and (max-width: 400px) {
      bottom: 50% !important;
      left: 0 !important;
      width: 100vw !important;
    }
  }
</style>
<script lang="js">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  props: ['modelValue', 'target'],
  emits: ['update:modelValue'],
  computed: {
    targetBoundig() {
      if (!this.target) {
        return 0
      }
      return this.target.getBoundingClientRect()
    },
    bottom() {
      if (!this.target) {
        return 0
      }
      return Math.floor(window.innerHeight - (this.targetBoundig.top))
    },
    left() {
      if (!this.target) {
        return 0
      }

      return Math.floor(this.targetBoundig.left - (this.targetBoundig.width / 2))
    },
    onVisibleClass() {
      return `fixed md:absolute`
    },
    onVisibleStyle() {
      return {
        bottom: this.bottom + 'px',
        left: this.left + 'px',
      }
    },
  },
})
</script>
