<template>
  <div class="">
    <div v-if="isLoading" class="flex justify-center mt-5">
      <h1>Chargement...</h1>
    </div>
    <template v-else>
      <h1 >
        Quel est l'avis du maire de
        <span class="emphase">{{ commune.nom }} ({{ commune.departementCode }})</span>
        sur la réforme des retraites 2023&nbsp;?
      </h1>
      <Avis v-if="avis" :commune="commune" :avis="avis"/>
      <NoAvis v-else :commune="commune"/>
    </template>
  </div>
</template>

<script lang="js">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  data() {
    return {
      isLoading: true,
      commune: null,
      avis: null,
    };
  },
  async mounted() {
    const commune = await this.$lckClient.query(
      'commune',
      { '$or[0][data][9fa952cc-9999-4a36-a9e3-7b43114ec19c][$eq]': this.$route.params.id }
    );

    if (commune.length) {
      this.commune = commune[0];
    } else {
      throw createError({ statusCode: response.status, statusMessage: 'Commune non trouvée' });
    }

    const avis = await this.$lckClient.query(
      'retraites',
      { '$or[0][data][58bb3340-4c54-4598-9609-a71678d73c66.value][$ilike]': this.$route.params.id + '%' }
    );

    if (avis.length) {
      this.avis = avis[0];
    }

    this.isLoading = false;
  },
})
</script>
