$font-logo: 'Binjay';
$font-text: 'Ubuntu Mono';

$color-primary: #ff8ba7ff;
$color-primary-2: #ffc6c7ff;
$color-secondary: #c3f0caff;

$color-bg: #faeee7ff;
$color-bg-2: #c3f0ca55;
$color-text: #594a4e;

$color-favorable: #009266;
$color-defavorable: #e16162;
$color-sans-avis: #e8e4e6;
