<template>
  <h1>
    <span class="emphase">Et ton maire ?!</span>&nbsp;: une plateforme d'initiative citoyenne pour recenser les avis des maires sur la réforme des retraites 2023
  </h1>
  <p>Ça ne vous aura pas échappé, Emmanuel Macron et le gouvernement tentent actuellement de réformer les retraites.</p>
  <p>Cette plateforme a pour but de mettre en lumière l'opinion des maires sur ce projet de loi.</p>

  <h2 class="my-4">Pourquoi&nbsp;?</h2>
  <details class="my-4">
    <summary>Premièrement parce qu'un maire, quoi qu'on en dise, a un impact sur la politique nationale</summary>
    <div>
      <p class="mb-2">
        Même si on peut considérer les maires comme des personnalités politiques locales, il ne faut pas oublier qu'ils et
        elles jouent également un rôle au niveau national : <span class="emphase">ce sont des grands électeurs</span>.
      </p>
      <p class="mb-2">
        95% des grands électeurs sont des conseillers municipaux et ce sont eux qui élisent les sénateurs et sénatrices.
        Les municiaplités sont donc en grande partie responsables de la composition du sénat. Ils ont donc une grande
        importance dans la représentation politique nationale.
      </p>
      <p class="mb-2">
        Et, <a href="https://youtu.be/TC81lYtpRRk?t=94" target="_blank">dans le cadre de l'article 47-1</a>, le rôle du sénat
        est primordial : il peut promulguer la loi sans faire la navette avec le parlement.
      </p>
    </div>
  </details>

  <details class="my-4">
    <summary>Deuxièmement parce que cette réforme est hautement symbolique</summary>
    <div>
      <p class="mb-2">
        Ce projet de loi retraite 2023 cristalise les mécontentements d'une part de la population française. En creux, une des questions
        posées par le débat qui entoure ce projet de loi est : comment souhaitons-nous répartir les richesses au sein de notre société ?
        que doit-on faire des profits générés par nos avancés techniques (mécanisation, robisation, automatisation et informatisation) ?
      </p>
      <p class="mb-2">
        La réponse apportée par le gouvernement est assez clair : laissons le capital se goinfrer et continuons de faire peser toujours plus
        sur les épaules de travailleurs.
      </p>
      <p class="mb-2">
        Il nous a alors semblé intéressant d'avoir l'avis des maires sur cette question. Sont-ils en phase avec ce choix de société ?
        Le citoyen pourra ensuite, en connaissance de cause, continuer ou non d'apporter son soutien à son ou sa maire, si le choix de société
        qu'il ou elle porte lui convient.
      </p>
    </div>
  </details>

  <h2 class="my-4">Qui sommes-nous&nbsp;?</h2>
  <p class="mb-2">
    Nous sommes un groupe de simples citoyens, opposés à cette réforme. Nous ne sommes affiliés ni à un parti ni à un syndicat.
  </p>
  <p class="mb-2">
    Nous souhaitons seulement, à travers ce site, apporter un outil supplémentaire aux personnes qui luttent contre cette réforme.
  </p>
</template>
