<template>
  <h1 class="mb-5">
    <span class="emphase">Et ton maire ?!</span>&nbsp;: la liste des avis favorables
  </h1>
  <div v-if="isLoading" class="flex justify-center mt-5">
      <p>Chargement...</p>
    </div>
  <template v-else>
    <ul>
      <li v-for="(avis, index) in avisList" :key="index">
        <NuxtLink :to="'/commune/' + avis.communeInseeCode">{{ avis.communeNom }}, {{ avis.maire }}</NuxtLink>
      </li>
    </ul>
  </template>
</template>

<style scoped lang="scss">
  @import "../assets/css/variables";

  li a {
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline 0.6rem $color-secondary;
      text-underline-offset: -0.3rem;
      text-decoration-skip-ink: none;
    }
  }
</style>

<script lang="js">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  data() {
    return {
      isLoading: true,
      avisList: null,
    };
  },
  async mounted() {
    this.avisList = await this.$lckClient.query(
      'retraites',
      {
        '$limit': '-1',
        '$or[0][data][16bc6a9e-d9db-41c7-a61a-d27bd8bf95d5][$in][0]': 'f03a3376-199b-4c92-8b6e-8c3ee8e1dffc',
        '$sort[ref(data:d69a598d-88bb-40d6-92e4-4e5b05f41dde)]': -1,
      }
    );

    this.isLoading = false;
  },
})
</script>
