<template>
  <h1>
    <span class="emphase">
      Au fait, c'est quoi l'avis de ton ou ta maire sur la réforme des retraites 2023&nbsp;?
    </span>
  </h1>
  <Recherche></Recherche>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <StatistiqueHome></StatistiqueHome>
    <CarteHome></CarteHome>
  </div>
</template>
